In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
CCdf = pd.read_csv('/content/creditcard.csv')

In [ ]:
CCdf.Amount.describe()
# CCdf['Amount'].discribe

count    284807.000000
mean         88.349619
std         250.120109
min           0.000000
25%           5.600000
50%          22.000000
75%          77.165000
max       25691.160000
Name: Amount, dtype: float64

In [ ]:
CCdf.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
CCdf['Class'].value_counts()

0.0    59348
1.0      162
Name: Class, dtype: int64

if you try to extracting by using list comprihension then the return type would be list

In [ ]:
FCCdf = [x for x in CCdf['Class'] if x == 1]

In [ ]:
LCCdf = [CCdf.Class == 0]

In [ ]:
print(type(FCCdf))
print(type(LCCdf))

<class 'list'>
<class 'list'>

but if you try return by using this method then return type would be pandas serise

In [ ]:
FCCdf = CCdf[CCdf.Class == 1]
LCCdf = CCdf[CCdf.Class == 0]

In [ ]:
FCCdf

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59505,48869,1.015555,-1.162519,-0.165417,-0.601962,-1.139883,-1.046207,0.049107,-0.386753,-0.830868,...,-0.332061,-0.812667,-0.178818,0.482971,0.288369,1.448585,-0.135061,0.029738,218.00,0.0
59506,48869,0.846847,-0.740109,1.734920,0.973051,-0.908455,1.955373,-1.282036,0.785884,1.530679,...,0.108577,0.830381,0.111284,-0.338765,-0.038436,0.663828,0.107897,0.023937,44.00,0.0
59507,48870,-0.293073,0.287754,1.076909,-1.498707,0.030389,-0.094332,0.592840,-0.236917,-1.592913,...,-0.702190,-1.566421,0.092062,-0.345236,-0.562907,0.566838,-0.462258,-0.231659,26.00,0.0
59508,48870,-2.728620,2.789470,-0.019110,-0.345316,-0.983749,-0.665490,-0.452156,1.174699,0.050815,...,-0.080194,-0.098998,0.034646,-0.090487,0.025606,0.152858,-0.341898,-0.263507,1.99,0.0
59509,48870,-0.118399,1.825136,-0.621394,0.294209,1.095673,-2.164019,1.102808,-1.244775,-0.734142,...,0.595335,-0.750841,-0.418729,0.595806,1.411615,-0.561365,0.139271,0.280751,1.00,0.0

In [ ]:
type(FCCdf)

pandas.core.frame.DataFrame

In [ ]:
type(CCdf)

pandas.core.frame.DataFrame

In [ ]:
type(FCCdf)
LCCdf.Amount.describe()

count     162.000000
mean       93.565988
std       224.658775
min         0.000000
25%         1.000000
50%         4.245000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [ ]:
FCCdf.Amount.describe()

count    59348.000000
mean        95.423013
std        270.229826
min          0.000000
25%          7.690000
50%         25.985000
75%         87.440000
max      19656.530000
Name: Amount, dtype: float64

In [ ]:
len(FCCdf)

492

i used random sample buliding

In [ ]:
LCCdf_sample = LCCdf.sample(n=492)

In [ ]:
LCCdf_sample

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
57166,47789.0,-0.719899,1.220424,0.605348,0.943174,0.456421,1.030273,0.202787,0.737486,-0.681264,...,-0.008771,0.175288,-0.227451,-1.133802,0.071176,-0.166743,0.296183,0.121373,23.14,0
107362,70403.0,1.278475,0.055375,-0.538034,-0.212573,0.392902,-0.465038,0.454431,-0.312613,-0.163743,...,-0.483904,-1.523599,-0.033919,-0.959750,0.305375,0.698051,-0.106806,0.003161,70.18,0
161881,114603.0,2.068307,-0.010048,-1.599085,0.632112,0.141415,-1.387717,0.500134,-0.433518,0.432780,...,-0.029869,0.094024,0.071192,0.083773,0.196853,0.378095,-0.087413,-0.073936,10.92,0
212649,138943.0,-1.392710,0.294687,1.465104,-0.584523,-0.814380,-0.108101,0.547725,0.557829,-0.343144,...,-0.028407,-0.605100,0.226332,0.020659,0.248599,-0.147497,-0.141553,-0.021456,173.70,0
166892,118369.0,-0.913524,0.447631,0.154716,-1.020939,1.700559,-0.116499,1.419788,-0.096083,-0.917902,...,-0.003021,-0.189352,-0.521967,-1.331709,1.174346,0.745059,-0.114909,0.011631,74.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104230,68967.0,-0.377578,1.187583,1.531697,0.181767,-0.173221,-1.280861,0.751914,-0.137867,-0.514187,...,-0.223272,-0.546031,0.040432,0.881974,-0.213561,0.037101,0.250502,0.104805,1.29,0
92419,63925.0,1.018787,0.208884,0.122463,0.988080,0.536471,0.784696,0.097114,0.265112,-0.232157,...,0.124635,0.539671,0.056360,-0.629198,0.377174,-0.252169,0.075092,0.008556,18.57,0
28757,35144.0,-3.624407,-3.444179,1.383825,0.671228,3.359470,-1.907431,-1.890538,0.524031,-0.164909,...,0.010934,-0.272591,1.042326,-0.256357,-0.218607,1.040928,-0.069138,0.741453,0.00,0
122535,76599.0,1.192568,0.151508,0.603083,0.562269,-0.572917,-0.795432,-0.064411,-0.043944,-0.151944,...,-0.195027,-0.638878,0.150843,0.516639,0.140887,0.065622,-0.036927,0.010722,6.99,0
115775,74010.0,-1.974394,0.688329,1.878350,0.529442,-0.243130,0.559832,-0.065336,0.384616,0.943560,...,-0.289396,-0.681008,-0.312659,-0.000957,0.016099,-0.782716,-0.955488,-0.118403,13.99,0

In [ ]:
new_dataset = pd.concat([LCCdf_sample, FCCdf], axis=0)

In [ ]:
new_dataset.shape

(984, 31)

In [ ]:
X = new_dataset.drop(columns='Class', axis=1) 
y = new_dataset.Class

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)

In [ ]:
model = LogisticRegression()

In [ ]:
model.fit(X_train, y_train)

LogisticRegression()

In [ ]:
model.predict(X_test)

array([0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0])

In [ ]:
import pickle as pk

In [ ]:

pk.dump(model, open('model.pkl', 'wb'))